/* Reservations Display */
.reservationsContainer {
  display: inline-block;
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 16px 24px;
  box-shadow: 0 -1px 0 0 rgba(72, 72, 72, 0.16);
  color: #484848;
  position: relative;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue";
}

.reservationsInner {
  padding: 0px 24px;
}

.reservationsHeader {
  box-sizing: border-box;
  display: block;
  border-bottom-width: 1px !important;
  border-bottom-color: #EBEBEB !important;
}

.reservationsHeaderPrice {
  line-height: 10px !important;
  padding-right: 16px !important;
  display: inline-block !important;
}


.priceDisplayed {
  font-size: 22px !important;
  padding: 0px 4px 0px 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 800 !important;
  line-height: 1.44444em !important;
  color: rgb(72, 72, 72) !important;
}

.priceText {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.reviewsButton {
  -webkit-appearance: none !important;
  cursor: pointer !important;
  text-align: left !important;
  user-select: auto !important;
  vertical-align: bottom !important;
  background: transparent !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
  margin: 0px !important;
  padding: 0px !important;
}

.ratingsImage {
  display: inline-block !important;
  position: relative !important;
  background-size: 9px 9px !important;
  height: 10px !important;
  transform: translateX(-0.5px) !important;
  background-image: url('star.svg') !important;
  background-repeat: space no-repeat !important;
}

.ratings1 {
  width: 10px;
  height: 10px;
}

.ratings2 {
  width: 20px;
  height: 10px;

}

.ratings3 {
  width: 30px;
  height: 10px;

}

.ratings4 {
  height: 10px;
  width: 40px;
}

.ratings5 {
  height: 10px;
  width: 50px;
}

.reviewsNumber {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.datesContainer {
  margin-top: 16px;
  margin-bottom: 8px;
}

.titles {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.dateDisplayWrapper {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255) !important;
  display: table !important;
  table-layout: fixed !important;
  width: 100% !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-radius: 2px !important;
  margin-top: 4px; 
  margin-bottom: 8px;
}

.dateCheckinWrapper {
  font-weight: normal !important;
  font-size: 17px !important;
  line-height: 24px !important;
  color: rgb(117, 117, 117) !important;
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  vertical-align: middle !important;
  margin: 0px !important;
  padding: 8px !important;
  background: rgb(255, 255, 255) !important;
}

.dateCheckinText {
  white-space: nowrap !important;
  color: rgb(72, 72, 72) !important;
  padding: 0px 6px !important;
  overflow: hidden !important;
  font-size: 16px !important;
  cursor: pointer !important;
  
}

.dateCheckinTextSelected {
  white-space: nowrap !important;
  color: rgb(72, 72, 72) !important;
  padding: 0px 6px !important;
  overflow: hidden !important;
}


.dateArrowWrapper {
  display: table-cell !important;
  vertical-align: middle !important;
  width: 24px !important;
  height: 24px; 
  display: block; 
  fill: currentcolor;
}

.dateCheckoutWrapper {
  font-weight: normal !important;
  font-size: 17px !important;
  line-height: 24px !important;
  color: rgb(117, 117, 117) !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0px !important;
  padding: 4px !important;
  background: rgb(255, 255, 255) !important;
  width: 90%;
}

.dateCheckoutText {
  white-space: nowrap !important;
  color: rgb(72, 72, 72) !important;
  padding: 0px 6px !important;
  overflow: hidden !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.dateCheckoutTextSelected {
  white-space: nowrap !important;
  color: rgb(72, 72, 72) !important;
  padding: 0px 6px !important;
  overflow: hidden !important;
  width: 100%;
}


/* Guest Bar Display */
.guestBarContainer {
  box-sizing: border-box;
  display: block;
}

#guestsDisplay{
  height: 30px;
  padding: 6px !important;
  margin: 4px 0px 20px 0px;
  border: 1px solid #eeeeee;
  text-align: left !important;
  line-height: normal !important;
  display: block !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 2px !important;
  padding: 8px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-image: initial !important;
}

#guestsDisplay:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.guestsDisplayText {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.375em !important;
  color: #484848 !important;
  cursor: pointer !important;
  
}

/* Pricing */

.pricing {
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: block;
}

.pricingInnerContainer {
  display: table !important;
  width: 100% !important;
  border-spacing: 0px !important;
}

.pricingDescriptionContainer {
  display: table-cell !important;
  width: 100% !important;
  vertical-align: middle !important;
}

.pricingDescription {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
}

.pricingAmountContainer {
  display: table-cell !important;
  vertical-align: middle !important;
}

.pricingAmount {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
}

.pricingTotal {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.28571em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.pricingSeparationContainer {
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
}

.pricingSeparationContainerOuter {
  margin-top: 16px;
  margin-bottom: 8px;
}

.separation {
  border-bottom: 1px solid #EBEBEB;
}

/* booking */


.booking {
  color: #ffffff !important;
  border-radius: 4px !important;
  border-width: 2px !important;
  border-style: solid !important;
  background: rgb(255, 90, 95) !important;
  border-color: transparent !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: normal !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 800 !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
  box-shadow: none !important;
  width: 100% !important;
  margin: 0px 0px 10px 0px;
}

#bookingButton {
  color: #ffffff !important;
  text-align: center;
  margin: 16px 0px 10px 0px;
}

#checkBackground {
  white-space: nowrap !important;
  color: rgb(0, 122, 135) !important;
  padding: 0px 6px !important;
  overflow: hidden !important;
  background: rgb(153, 237, 230) !important;
  border-color: rgb(153, 237, 230) !important;
  border-radius: 3px !important;
}

.disclaimer {
  text-align: center !important;
  font-weight: 600 !important;
}

.highlights {
  background-size: 48px !important;
  border-top: 1px solid #eeeeee;
  margin-top: 10px !important;
  padding-top: 20px;
  transition: margin-top 0.4s ease 0s !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  background-image: url(https://a0.muscache.com/airbnb/static/packages/icon-uc-light-bulb.1ffc0407.gif);
}

.highlightsText {
  min-height: 34px !important;
  width: 84% !important;
}

.highlightsTextMain {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.28571em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.highlightsTextBottom {
  font-size: 12px !important;
  margin-top: 6px;
}

