
#footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255) !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  z-index: 4 !important;
  border-top: 1px solid rgb(235, 235, 235) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px;
}

.footerContainer {
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.bookingButtonSmall {
  color: #ffffff !important;
  border-radius: 4px !important;
  background: rgb(255, 90, 95) !important;
  border-color: transparent !important;
  font-size: 10px !important;
  letter-spacing: normal !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  box-shadow: none !important;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 30px;
  font-weight: 600;
}

.price {
  margin-left: 20px;
  font-size: 14px !important;
  padding: 0px 4px 0px 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 800 !important;
  line-height: 1.44444em !important;
  color: rgb(72, 72, 72) !important;
}

.perNight {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.listing {
  display: table-cell !important;
  width: 100% !important;
  vertical-align: middle !important;
  word-wrap: break-word !important;
  line-height: 10px;
}

#appPop {
  display: block; /* Hidden by default */
  position: absolute;
  z-index: 20;
  background-color: rgba(255,255,255,.5);
  box-shadow: 1px 1px 0.5px 0.5px rgba(72, 72, 72, 0.16);
}

.bookingContainer {
  display: table-cell !important;
  vertical-align: middle !important;

}


.reviewsButtonFooter {
  -webkit-appearance: none !important;
  cursor: pointer !important;
  text-align: left !important;
  user-select: auto !important;
  vertical-align: bottom !important;
  background: transparent !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
  margin-bottom: 2px !important;
  padding: 0px !important;
  margin-left: 20px;
}

.ratingsImageFooter {
  display: inline-block !important;
  position: relative !important;
  background-size: 9px 9px !important;
  height: 10px !important;
  transform: translateX(-0.5px) !important;
  background-image: url('star.svg') !important;
  background-repeat: space no-repeat !important;
}

.ratings1 {
  width: 10px;
  height: 10px;
}

.ratings2 {
  width: 20px;
  height: 10px;

}

.ratings3 {
  width: 30px;
  height: 10px;

}

.ratings4 {
  height: 10px;
  width: 40px;
}

.ratings5 {
  height: 10px;
  width: 50px;
}

.reviewsNumber {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}